{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
  <title>RU-Restaurante-Universitario</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />

  <!--Google Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap" rel="stylesheet">
  

  <title>Hello, world!</title>
</head>

<body class="banner">

        <header>
                <!-- inicio do cabeçalho-->
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color:#091D28;">
                <div class="container">
        
                <!--logo-->
                <a href="#" class="navbar-brand">
                    <img src="{% static 'img/logo1.png.png' %}" width="327">
                </a>
                {% block btnSair %}{%endblock%}
                </div>
            </nav>
    
        </header><!-- FIM do cabeçalho-->

    {% block conteudo %}
    {% endblock %}

<!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>


  <script >
      $(document).ready(function () {
          $('#example').DataTable(
              {
                  "pageLength": 5,
                  "lengthMenu": [ 4,5 ],
                  language: {
                  search: "Pesquisar&nbsp;:",
                  lengthMenu: "Mostrando _MENU_ ",
                  info: "Exibindo _START_ &agrave; _END_ de _TOTAL_ elementos",
                  paginate: {
                          first: "Premier",
                          previous: "Anterior",
                          next: "Proximo",
                          last: "Anterior"
                      },
                  
                  }
              },
          
          );
      });
  </script>
<!--
  <script>
      $('#example').dataTable( {
"pageLength": 5
} );
  </script> -->

  
</body>

</html>