{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

    <section>
        <!-- Inicio seção Login-->
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-12">
                    <!-- texto da seção-->
                    <div class="text-center">
                        <h1 class="text-white" class="display-5" class="text-center">Informações</h1>
                    </div>
                </div><!-- fim do texto da seção-->
            </div>

            <div class="row pt-3"  >
                <!-- Formulario login-->
                <div class="col-3"></div>
                <div class="col-md-6">
                    
                    <table class="table table-warning rounded">
                        <thead>
                          <tr>
                            <th scope="col" >#</th>
                            <th scope="col" >Nome</th>
                            <th scope="col" >CPF</th>
                            <th scope="col">Modalidade</th>
                            <th scope="col">Credito</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for consumidor in consumidores %}
                          <tr>
                            <th scope="row">1</th>
                            <td>{{consumidor.nome}}</td>
                            <td>{{consumidor.cpf}}</td>
                            <td>{{consumidor.modalidade}}</td>
                            <td>{{consumidor.credito}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <a class="btn btn-gold text-white" href="{% url 'principal' %}" role="button">Voltar</a>

                </div>
                
                <div class="col-3"></div>
            </div>
            <!--Fim formulario login-->
        </div>

    </section><!-- Fím seção Login-->

{% endblock %}